# build_runner 生成ファイル
*.g.dart
*.freezed.dart

# Flutter 自動生成プラットフォームファイル
ios/
web/
.idea/
.metadata
*.iml

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# npm
node_modules/
functions/node_modules/
package-lock.json

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log

# Playwright
screenshots/
